<!DOCTYPE html>

<h1>Welcome <%= UserData.ID %></h1>
<p>you can add here</p>


<form action="/user/add" method = "POST">
    <p>please enter name</p>
    <input type = "text" name = "name">
    <p>enter price</p>
    <input type = "text" name = "price">
    <p>please write some information</p>
    <textarea name = "info"></textarea> 
    <br><br>
    <button type = "submit">submit</button>
</form>