<!DOCTYPE html>

<h1>Welcome <%= UserData.ID %></h1>
<p>you can add here</p>


<form>
    <p>please enter name</p>
    <input type = "text" name = "name">
    <p>please attach image</p>
    <img name = "img">
    <p>please write some information</p>
    <input type = "textbox" name = "info">
</form>