<!DOCTYPE html>
<h2>Register something</h2>
<h1>Welcome <%= UserData.ID %></h1>

<p>if you want to add something click the button</p>
<a href="/add">add</a>

<p>if you want to logout</p>
<a href="/logout">logout</a>
