<!DOCTYPE html>
<style>
    .navbar{
        width: 85%;
        margin auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 2px;
    }
    .navbar ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    .logo{
        width: 120px;
        cursor: pointer;
    }
    .banner{width: 100%;
    height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://www.siamenamel.com/assets/img/products/plates_bowls/sec-pl022-ylg-aaa000.jpg);
background-size: cover;
background-position: center; 
;}

.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
    
  .active,
        .collapsible:hover {
            background-color: #555;
        }

        .content-hi {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            
        }
</style>
<div class="banner">
<div class="navbar">
    <img src="https://png.pngtree.com/png-vector/20221030/ourmid/pngtree-fork-and-spoon-logo-plate-spoon-restaurant-vector-png-image_39850014.png" class="logo">
    <ul>
    <li><a href="login">login</a></li>
    </ul>
    </div>
    
<body>
    <div class="content">
  <% things.forEach(element => { %>
    <div style="margin: 30px; justify-content: center;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP5-Croy_SRSH8lk9sEtgPttr_3r5tSNA_UA&s">
          <div>
              <%= "name:" + element.name %>
              <br>
              <%= "price:" + element.price %>
          </div>
          <br>
          <button type="button" class="collapsible">details</button>
          <div class="content-hi">
              <div>
                  <br>
                  <%= "info:" + element.info %>
              </div>
          </div>
      </div>
    </div>
      <%}) %>
    </div>
</body>

<script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");    
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
